# MacOS Stuff
.DS_Store
/snapshot.sql
/snapshot.env
/sqitch/downloaded-snapshot.zip
node_modules
/.vscode/
/dist/
.env
apps/sps-validator-ui/.env.local
config.ini
/sqitch/validator-data-latest.zip
.nx
coverage
tmp
snapshot.sql
snapshot.zip
link.txt
vite.config.*.timestamp*
